.classpath
.factorypath
*.project
*.settings
**/.sts4-cache/*

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Java files
*pom.xml.versionsBackup
**/target
**/error-screenshots

# NodeJS files
**/dist
node_modules

# Testing files
.coverage

# Generated code
sso-kit-client/*.d.ts
sso-kit-client/*.d.ts.map
sso-kit-client/*.js
sso-kit-client/*.js.map
sso-kit-client/.coverage
sso-kit-client/.vite
