.classpath
*.project
*.settings
**/.sts4-cache/*
.factorypath

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Java files
*pom.xml.versionsBackup
**/target
**/error-screenshots

# NodeJS files
**/dist
node_modules

# Testing files
.coverage

# Generated code
packages/ts/*/*.d.ts
packages/ts/*/*.d.ts.map
packages/ts/*/*.js
packages/ts/*/*.js.map
sso-kit-client/ts/*/.coverage
