# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "2.3" ]
  pull_request:
    branches: [ "2.3" ]

jobs:
  validate-formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Validate formatting
      run: mvn -ntp -B formatter:validate
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project code
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Set TB License
      run: |
        TB_LICENSE=${{secrets.TB_LICENSE}}
        mkdir -p ~/.vaadin/
        echo '{"username":"'`echo $TB_LICENSE | cut -d / -f1`'","proKey":"'`echo $TB_LICENSE | cut -d / -f2`'"}' > ~/.vaadin/proKey
    - name: Run Java tests
      run: mvn -ntp -B verify
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
        registry-url: 'https://registry.npmjs.org'
        cache: npm
        cache-dependency-path: sso-kit-client/package-lock.json
    - name: Cache node_modules
      uses: actions/cache@v3
      id: cache-node_modules
      with:
        path: sso-kit-client/node_modules
        key: ${{ runner.os }}-node_modules-${{ hashFiles('sso-kit-client/package-lock.json') }}
    - name: Install npm dependencies
      if: ${{ steps.cache-node_modules.outputs.cache-hit != 'true' }}
      shell: bash
      run: npm ci
      working-directory: sso-kit-client
    - name: Build TypeScript
      run: npm run build
      working-directory: sso-kit-client
    - name: Lint TypeScript
      run: npm run check
      working-directory: sso-kit-client
    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1
    - name: Run TypeScript tests
      run: npm run test
      working-directory: sso-kit-client
      env:
        CI: true
